<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="linqTest.Properties.Settings.tweetsConnectionString"
        connectionString="Data Source=NYCSIS02\CSNEXT;Initial Catalog=tweets;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="../../localAppSettings.config">
    <!-- where to send the tweets after parsing -->
    <add key="CouchServer" value="http://chchneeds.info/"/><!-- wont work like this as needs a user/pass in url also-->
    <add key="CouchDB" value="couchdb"/>
    
    <add key="twitter_user" value="twitter_user_with_whitelist_status" />
    <add key="twitter_pass" value="you_need_to_supply_this" />

    <add key="consumerKey" value="you_need_to_supply_this"/>
    <add key="consumerSecret" value="you_need_to_supply_this_too"/>
  </appSettings>
</configuration>